# Node / Next
node_modules/
.next/
.out/
.turbo/
.vercel/

# Env & local config
.env
.env.local
.env.*.local

# Prisma local DBs
prisma/*.db
prisma/*.db-journal

# Logs & misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.zip
backups/
NUL
